*.suo
*.user
*crunch*

[Bb]in/
[Oo]bj/

# NuGet Packages Directory
packages/

# Generated documentation folder
regression/docs/output/

# Temp folder used for publishing docs
temp/

# Test results produced by build
TestResults.xml

# Nuget outputs
release.cmd
release.sh
paket-files
regression/.paket/paket.exe
regression/docs/content/license.md
regression/docs/content/release-notes.md
