source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core/SR.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core/FSCore.resx
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/LibraryTestFx.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/ArrayModule.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/ArrayModule2.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/ListModule.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/ListModule2.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/SeqModule.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/SeqModule2.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Collections/StringModule.fs
github fsharp/fsharp:fsharp4 src/fsharp/FSharp.Core.Unittests/FSharp.Core/Microsoft.FSharp.Core/OptionModule.fs
